<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
    
        <input type="text" v-model="title" @keydown.enter="addTodo">
        <button v-if="undo<all" @click="clear">清理</button>
        <ul>
            <li v-for="todo in todos" >
                <input type="checkbox" v-model="todo.done">
                <span :class="{done:todo.done}">{{todo.title}}</span>
                </li>
        </ul>
        <div>
            全选<input type="checkbox" v-model="allDone">
            <div>{{undo}}/{{all}}</div>
        </div>
    </div>
    <script >
        const App = {
            data() {
                return {
                    title:"清单",
                    todos: [
                        {title:'1',done:true},
                        {title:'2',done:false}
                    ],
                }
            },
            methods: {
                addTodo(){
                    if (this.title){
                        this.todos.push({title:this.title,done:false})
                        this.title = "" 
                    }
                    
                },
                clear(){
                    this.todos=this.todos.filter(v=>!v.done)
                }
            },
            computed: {
                undo(){
                    return this.todos.filter(v=>!v.done).length
                },
                all(){
                    return this.todos.length
                },
                allDone:{
                    get: function(){
                        return this.undo===0
                    },
                    set: function(val){
                        this.todos.forEach(todo=>{
                            todo.done=val                           
                        });
                    }
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
    <style>
        .done{
            color: gray;
            text-decoration: line-through;
        }
    </style>
</body>
</html>